
<div class="container">

      <h2>Archive des demandes</h2>

  <div class="d-flex justify-content-between">
    <div>
        <br>
      <% @requests.each do |request| %>
        <li><%= link_to "Recherche archivée N°#{request.id}", request_path(request), style:"text-decoration: none" %></li>
      <% end %>
      <br>
      <%= link_to "Créer une nouvelle demande", requests_new_path, class: "btn btn-primary" %>
    </div>

    <div>
      <%= image_tag "roue2.png", class: "img-responsive", alt: "la roue du jeu télévisé 'le juste prix'", height:"300px" %>
    </div>

  </div>
  <%= link_to "Qui sommes-nous ?", about_us_path %>
</div>
<br>
<br>
