<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mb-4">Archive des demandes</h1>

<div class="container">

      <h2>Archive des demandes</h2>

  <div class="d-flex justify-content-between">
    <div>
        <br>
      <% @requests.each do |request| %>
        <li><%= link_to "Recherche archivée N°#{request.id}", request_path(request), style:"text-decoration: none" %></li>
      <% end %>

      <div class="mt-4">
        <%= link_to "Créer une nouvelle demande", requests_new_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-lg-4 text-center mt-5 mt-lg-0">
      <div class="position-sticky" style="top: 100px;">
        <div class="card border-0 shadow overflow-hidden">
          <%= image_tag "oursons.png", class: "card-img-top", alt: "Oursons en peluche", height:500 %>
          <div class="card-body">
            <h5 class="card-title">Le Prix Juste</h5>
            <p class="card-text text-muted">Estimez la valeur de vos jouets</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
