<h1>Requests#index</h1>

<% @requests.each do |request| %>
  <li><%= link_to request.id, request_path(request) %></li>
<% end %>

<br>
<p>----------------------------------</p>
<br>

<p><%= link_to "create a new request", requests_new_path %></p>


<%#
<%= simple_form_for(@request) do |f| %>
  <%# <%= f.input :photo, as: :file %>
<%# <% end %>
